*{
    padding: 0;
    margin: 0;
    /* background-image: url("/Images/download.jpg"); */
    background-color: #DDDDDD;
    


}
@media screen and (max-width:480px ) and ( min-width:320px){
    
    header h1{
        color: tomato;
        border: 1px solid black;
        background-color: mediumorchid;
        display: flex;
        justify-content: center;
    
    }
    .main .choose{
        margin-top: 30px;
        display: flex;
        justify-content: center;

    }
    a{
        text-decoration: none;
       

    }
    .subject{
        margin-top: 50px;
        font-size: small;
    }
    #Mathematics{
        border: 1px solid violet;
        width: 90px;
        margin-left: 35%;
         display: flex;
         justify-content: center;
         
        
        

    }
    #Science{
        border: 1px solid violet;
        margin-top: 25px;
        display: inline-block;
        margin-left: 17%;
    }
    #Social{
        border: 1px solid violet;
        margin-top: 45px;
        display: inline-block;
        margin-left: 33%;
    }
    #Hindi{
        border: 1px solid violet;
        margin-top: 25px;
        display: inline-block;
        margin-left: 17%;
    }
    #English{
        border: 1px solid violet;
        margin-top: 25px;
        display: inline-block;
        margin-left: 37%;
    }
    footer h2{
        /* display: flex;
        /* margin-top: 58%; */
        justify-content:center; 
        position: absolute;
        bottom: 0;
        margin-left: 13%;
        margin-bottom: 5px;
        color: orangered;
    }


}